.navbar { 
  background-color: white;
}

.navbar-brand {
  color: #236973;
}

#eshop, .nav-link {
  margin-right: 2em !important;
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}

.nav-link:hover {
  background-color: #E8EFF0;
  color: #236973; }

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  background:#fff !important;
}

.bg-primary {
  background-color: white !important;
}
