.navbar { 
  background: white;
}

.nav-link , .navbar-brand{ color: #236973; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: #E8EFF0; color: #236973; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:#fff !important;}

